
.text-muted {
    color: #705263 !important;
}
a.text-muted {
    color: #d2a5df !important;
}
.background-bubble {
    border: 1px solid black;
    border-radius: 50%;
    background: blue;
    min-width: 150px;
    height: 150px;
    width: 150px;
}
.box-shadow {
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2), 0 4px 15px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
}
.card-header {
    background-color: #55223d !important;
    color: #d2a5df !important;
}
.card-block{
    background-color: #ebcee8 !important;
    color: #3b2632 !important;
}
.list-group-item {
    background-color: #ebcee8 !important ;
    color: #3b2632 !important;
}

